.container-footer {
	display: flex;
	width: 100%;
	height: 67px;
	left: 0px;
	//top: 896px;

	background: #111827;
	box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
	justify-content: space-between;
}

.text-footer {
	position: flex;
	margin: 0 auto;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */

	text-align: right;
}

.color-gray {
	color: #4b5563;
}

.color-light {
	color: #5fbeff;
}

.icon-footer {
	margin-top: 10px;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 17px;
}

.container-footer-left {
	display: flex;
	margin: 0 auto;
}

.container-footer-right {
	display: flex;
	margin: 0 auto;
}

.item-footer {
	display: flex;
	margin-top: 10px;
}
